@media screen and (min-width: 1379px) and (max-width: 1480px) {
}

@media screen and (min-width: 1280px) and (max-width: 1378px) {
}

@media screen and (min-width: 1200px) and (max-width: 1279px) {
    .container {
        padding: 0 30px;
    }

    .header-logo img {
        height: 28px;
    }

    .headerbg1 {
        height: 86px;
    }

    .header-logo {
        height: 86px;
    }

    .herotpimg1 {
        position: absolute;
        top: -138px;
        max-width: 26%;
    }

    .herotpimg2 {
        position: absolute;
        top: 116px;
        height: 315px;
        right: 0px;
        width: initial;
    }

    .ontariobet-wlbslt-item1 p {
        font-size: 20px;
        padding-top: 24px;
        line-height: 35px;
    }

    .sliderimg1 {
        top: -71px;
        height: 150px;
    }

    .sliderimg2 {
        bottom: 61px;
        height: 183px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .container {
        padding: 0 30px;
    }

    .header-logo img {
        height: 24px;
    }

    .headerbg1 {
        height: 80px;
    }

    .header-logo {
        height: 80px;
    }

    .footertext h4 br {
        display: none;
    }

    .footertext p br {
        display: none;
    }

    .herotpimg1 {
        max-width: 29%;
    }

    .hero-left h1 {
        font-size: 50px;
        line-height: 60px;
        padding-bottom: 20px;
    }

    .hero-left h5 {
        font-size: 19px;
        line-height: 33px;
    }

    .hero-left ul {
        padding-top: 25px;
    }

    .hero-left ul li {
        padding-bottom: 23px;
    }

    .hero-left a {
        margin-top: 28px;
    }

    .hero-part {
        align-items: center;
    }

    .hero-right img {
        bottom: 0;
    }

    .herotpimg2 {
        position: absolute;
        top: 28px;
        height: 246px;
        right: 5px;
        width: initial;
    }

    .ontariobet-wlbslt-part {
        padding: 20px;
    }

    .ontariobet-wlbslt-item1 h2 {
        font-size: 35px;
    }

    .ontariobet-wlbslt-item1 h3 {
        font-size: 35px;
    }

    .ontariobet-wlbslt-item1 p {
        font-size: 16px;
        padding-top: 20px;
    }

    .ontariobet-wlbslts-text p {
        font-size: 12px;
    }

    .ontariobet-wlbsrt-box {
        padding: 35px 20px;
        padding-top: 0;
    }

    .ontariobet-wlbsrt-box h3 {
        font-size: 24px;
    }

    .ontariobet-wlbsrt-box p {
        font-size: 15px;
        line-height: 28px;
    }

    .ontariobet-wlbsrt-box img {
        height: 201px;
        margin-bottom: 47px;
    }

    .sliderimg1 {
        top: -55px;
        left: 0;
        height: 144px;
    }

    .sliderimg2 {
        max-width: 100%;
        position: absolute;
        right: 0;
        bottom: 68px;
        height: 170px;
    }

    .ontariobet-wlbs-area {
        padding: 80px 0;
        padding-bottom: 40px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .container {
        padding: 0 30px;
    }

    .footertext p br {
        display: none;
    }

    .headerbg1 {
        height: 64px;
    }

    .header-logo {
        height: 64px;
    }

    .header-logo img {
        height: 19px;
    }

    .hero-part {
        display: block;
    }

    .hero-left {
        width: 100%;
    }

    .hero-right {
        width: 100%;
    }

    .herotpimg2 {
        display: none;
    }

    .ontariobet-wlbs-part {
        display: block;
    }

    .ontariobet-wlbs-left {
        width: 100%;
    }

    .ontariobet-wlbs-right {
        width: 100%;
        margin-top: 45px;
    }

    .ontariobet-wlbslt-part {
        height: initial;
    }

    .ontariobet-wlbslt-item1 p {
        font-size: 20px;
        line-height: 33px;
    }

    .ontariobet-wlbslt-item2 {
        grid-column-gap: 15px;
    }

    .ontariobet-wlbslts-text p {
        font-size: 12px;
    }

    .herotpimg1 {
        max-width: 39%;
    }

    .ontariobet-pcg-part {
        display: block;
    }

    .ontariobet-pcg-left {
        width: 100%;
        margin-bottom: 50px;
    }

    .ontariobet-pcg-right {
        width: 100%;
    }

    .sliderimg1 {
        top: -32px;
        left: 0;
        height: 109px;
    }

    .sliderimg2 {
        bottom: 68px;
        height: 185px;
    }

    .footerleft {
        width: 70%;
    }

    .footerright {
        width: 30%;
        padding-left: 20px;
        box-sizing: border-box;
    }

    .footertext h4 br {
        display: none;
    }

    .popupleft {
        display: none;
    }

    .popuppart {
        width: 569px;
        margin: auto;
        height: 650px;
    }

    .popupright {
        width: 100%;
        height: 100%;
        padding: 50px 50px;
        margin-left: 0px;
    }

    .popupformitems input {
        padding: 11px 14px;
    }

    .newtext-part {
        border-image-source: linear-gradient(
            176deg,
            rgba(236, 199, 83, 0) 0%,
            #ffe8b9 50.73%,
            rgba(207, 126, 0, 0) 100.23%
        );
    }
}

@media screen and (max-width: 767px) {
    .mbheaderbg1 {
        display: block;
        width: 100%;
        margin: auto;
        position: absolute;
        top: 0;
        height: 119px;
        left: 0px;
    }

    .headerbg1 {
        display: none;
    }

    .header-logo {
        height: 119px;
        display: grid;
        align-items: start;
        position: relative;
        z-index: 999;
    }

    .herotpimg1 {
        display: none;
    }

    .header-logo img {
        max-width: 100%;
        display: block;
        margin: auto;
        height: 19px;
        padding-top: 11px;
    }

    .hero-part {
        display: block;
    }

    .hero-left {
        width: 100%;
    }

    .hero-right {
        width: 100%;
    }

    .hero-left h1 {
        font-size: 40px;
        line-height: 51px;
        padding-bottom: 10px;
    }

    .hero-left h5 {
        font-size: 15px;
        line-height: 27px;
    }

    .hero-left ul {
        padding-top: 16px;
    }

    .herotpimg2 {
        position: absolute;
        top: initial;
        height: 145px;
        width: initial;
        right: 0;
        bottom: 134px;
    }

    .hero-left ul li {
        padding-right: 0px;
        padding-bottom: 0px;
    }

    .hero-left ul li span {
        font-size: 12px;
        width: 25px;
        height: 25px;
        line-height: 25px;
    }

    .hero-left ul li p {
        font-size: 12px;
        padding-left: 35px;
        margin-top: -21px;
    }

    .hero-left a {
        font-size: 14px;
        width: 125px;
        height: 44px;
        line-height: 44px;
        text-align: center;
        margin-top: 24px;
    }

    .hero-area {
        padding: 10px 0;
        padding-bottom: 30px;
        position: relative;
    }

    .hero-right img {
        max-width: 100%;
        display: block;
        margin: auto;
        position: relative;
        bottom: 0;
        z-index: 999;
        margin-top: 15px;
    }

    .ontariobet-wlbs-part {
        display: block;
    }

    .ontariobet-wlbs-left {
        width: 100%;
    }

    .ontariobet-wlbs-right {
        width: 100%;
        margin-top: 25px;
    }

    .ontariobet-wlbslt-part {
        padding: 16px;
        height: initial;
        display: block;
    }

    .ontariobet-wlbslt-left {
        width: 100%;
        margin-bottom: 20px;
    }

    .ontariobet-wlbslt-right {
        width: 100%;
    }

    .ontariobet-wlbslt-item1 h2 {
        font-size: 25px;
        padding-bottom: 10px;
    }

    .ontariobet-wlbslt-item1 h3 {
        font-size: 25px;
    }

    .ontariobet-wlbslt-item1 p {
        font-size: 14px;
        padding-top: 15px;
        line-height: 27px;
    }

    .ontariobet-wlbslt-item2 {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 8px;
        justify-content: space-around;
        grid-row-gap: 10px;
        padding-top: 0px;
    }

    .ontariobet-wlbslts-img {
        width: 16px;
    }

    .ontariobet-wlbslts-text {
        width: 90%;
    }

    .ontariobet-wlbslts-text p {
        font-size: 10px;
        font-weight: 300;
        margin: 0;
    }

    .ontariobet-wlbslt-item3 a {
        font-size: 14px;
        width: 125px;
        height: 44px;
        line-height: 44px;
        border-radius: 50px;
        margin-top: 23px;
    }

    .ontariobet-wlbsrt-box {
        padding: 16px 16px;
        padding-top: 0;
        height: initial;
    }

    .ontariobet-wlbsrt-box h3 {
        font-size: 25px;
        padding-bottom: 12px;
    }

    .ontariobet-wlbsrt-box p {
        font-size: 14px;
        font-weight: 400;
        line-height: 26px;
    }

    .ontariobet-wlbsrt-box img {
        margin: auto;
        margin-right: 0;
        right: -16px;
        height: 178px;
        margin-bottom: 22px;
    }

    .ontariobet-wlbs-area {
        padding: 15px 0;
        padding-bottom: 30px;
    }

    .ontariobet-pcg-area {
        padding: 20px 0;
        padding-bottom: 30px;
    }

    .ontariobet-pcg-part {
        display: block;
    }

    .ontariobet-pcg-left {
        width: 100%;
        margin-bottom: 25px;
    }

    .ontariobet-pcg-right {
        width: 100%;
    }

    .ontariobet-pcg-left h2 {
        font-size: 25px;
        line-height: 35px;
        padding-bottom: 15px;
    }

    .ontariobet-pcg-left p {
        font-size: 13px;
        margin: 0;
        line-height: 24px;
    }

    .ontariobet-pcgrt-text {
        padding: 35px 16px;
    }

    .ontariobet-pcgrt-text h3 {
        font-size: 25px;
    }

    .ontariobet-pcgrt-text h2 {
        font-size: 30px;
    }

    .ontariobet-pcgrt-text p {
        font-size: 16px;
        padding-top: 12px;
    }

    .ontariobet-pcgrt-text a {
        font-size: 14px;
        width: 141px;
        height: 44px;
        line-height: 44px;
        margin: auto;
        margin-right: 0;
        margin-top: 19px;
    }

    .sliderimg1 {
        max-width: 100%;
        position: absolute;
        top: -14px;
        left: 0;
        height: 81px;
    }

    .ontariobet-tpg-hd h2 {
        font-size: 25px;
        font-weight: 600;
        margin: 0;
        line-height: 40px;
        padding-bottom: 25px;
    }

    .ontariobet-tpg-hd p {
        font-size: 14px;
    }

    .ontariobet-ftpocn-part h2 {
        font-size: 25px;
        line-height: 40px;
        padding-bottom: 12px;
    }

    .ontariobet-ftpocn-part p {
        font-size: 12px;
        line-height: 22px;
        padding-bottom: 18px;
    }

    .ontariobet-ftpocn-area {
        padding: 35px 0;
        padding-bottom: 10px;
    }

    .ontariobet-tpg-btn a {
        font-size: 14px;
        width: 125px;
        display: block;
        height: 44px;
        line-height: 44px;
    }

    .footer-copyright p {
        font-size: 10px;
        line-height: 17px;
        text-align: center;
    }

    .footer-area {
        padding: 40px 0;
        padding-bottom: 0px;
    }

    .footer-part {
        display: block;
    }

    .footerleft {
        width: 100%;
    }

    .footerright {
        width: 100%;
        padding-left: 0px;
    }

    .footertext h4 br {
        display: none;
    }

    .footertext h4 {
        font-size: 14px;
        line-height: 28px;
        padding-bottom: 20px;
    }

    .footertext p {
        font-size: 12px;
        line-height: 24px;
        padding-bottom: 20px;
    }

    .footertext p br {
        display: none;
    }

    .mbfooterlogos {
        display: block;
    }

    .cmfooterlogos {
        display: none;
    }

    .footer-nav h3 {
        font-size: 16px;
        line-height: 28px;
        padding-top: 15px;
    }

    .footer-nav ul {
        padding-top: 20px;
    }

    .footer-nav ul li a {
        font-size: 14px;
    }

    .footer-nav ul li {
        padding-bottom: 20px;
    }

    .footerlogos ul {
        padding-top: 36px;
        display: block;
    }

    .footerlogos ul li {
        margin-right: 8px;
    }

    .footerlogos ul li a img {
        max-width: 100%;
        display: block;
        margin: auto;
        height: 36px;
    }

    .footerlogos ul li:last-child a img {
        height: 27px;
    }

    .footer-copyright {
        padding: 12px 0;
        margin-top: 30px;
    }

    .ontariobet-tpg-btn {
        padding-top: 20px;
    }
    .sliderimg2 {
        max-width: 100%;
        position: absolute;
        right: 0px;
        bottom: 58px;
        height: 149px;
    }

    .ontariobet-tpg-area {
        padding: 80px 0;
        position: relative;
        padding-bottom: 70px;
    }

    .newhero-heading h2 {
        font-size: 30px;
    }

    .newhero-heading {
        padding-bottom: 25px;
    }

    .newheroitem1 h3 {
        line-height: 28px;
    }

    .popuppart {
        width: 340px;
        display: block;
        margin: auto;
        height: 483px;
    }

    .popupleft {
        width: 100%;
        display: none;
    }

    .popupright {
        width: 100%;
        height: 100%;
        padding: 25px 15px;
        margin-left: 0px;
    }

    .popupform-heading h3 {
        font-size: 20px;
        padding-bottom: 3px;
    }

    .popupform-heading p {
        font-size: 12px;
    }

    .popupform-heading {
        padding-bottom: 15px;
    }

    .popupformitems p {
        font-size: 12px;
        padding-bottom: 2px;
    }

    .popupformitems input {
        font-size: 12px;
        width: 100%;
        font-weight: 400;
        padding: 8px 11px;
        border-radius: 4px;
        outline: none;
        margin-bottom: 6px;
    }

    .popupformitems h6 {
        font-size: 9px;
        font-weight: 400;
        line-height: 17px;
        margin-top: -6px;
        margin-bottom: 6px;
    }

    .toggle-password img {
        width: 14px;
        height: 14px;
    }

    .toggle-password {
        right: 5px;
        width: 24px;
        height: 24px;
        top: 6px;
    }

    .popupformitems input[type="submit"] {
        font-size: 14px;
        font-weight: 600;
        width: 100%;
        padding: 12px 16px;
        border-radius: 3px;
        border: none;
        outline: none;
        margin-bottom: 0px;
        cursor: pointer;
        margin-top: 6px;
    }

    .popupform-item3 h5 {
        font-size: 11px;
        padding-top: 12px;
        text-align: center;
    }

    .checkboxpart {
        font-size: 11px;
        line-height: 28px;
    }
}
